In [14]:
import pandas as pd
import numpy as np

In [9]:
death_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
recovered_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')
country_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv')

In [10]:
country_df.head()

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active
0,Australia,2020-04-07 00:39:33,-25.0000,133.0000,5797,40,1080,4677
1,Austria,2020-04-07 00:32:22,47.5162,14.5501,12297,220,3463,8614
2,Canada,2020-04-07 00:39:18,60.0010,-95.0010,16667,322,3338,0
3,China,2020-04-06 09:37:01,30.5928,114.3055,82665,3335,77310,2020
4,Denmark,2020-04-07 00:32:22,56.0000,10.0000,4875,187,1489,3199

In [13]:
country_df.columns = map(str.lower, country_df.columns)
confirmed_df.columns = map(str.lower, confirmed_df.columns)
death_df.columns = map(str.lower, death_df.columns)
recovered_df.columns = map(str.lower, recovered_df.columns)

In [12]:
confirmed_df = confirmed_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
recovered_df = confirmed_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
death_df = death_df.rename(columns={'province/state': 'state', 'country/region': 'country'})
country_df = country_df.rename(columns={'country_region': 'country'})

In [6]:
confirmed_total = int(country_df['confirmed'].sum())

In [7]:
deaths_total = int(country_df['deaths'].sum())
recovered_total = int(country_df['recovered'].sum())
active_total = int(country_df['active'].sum())

In [8]:
sorted_country_df = country_df.sort_values('confirmed', ascending= False)

In [9]:
def highlight_col(x):
    r = 'background-color: red'
    p = 'background-color: purple'
    g = 'background-color: grey'
    df1 = pd.DataFrame('', index=x.index, columns=x.columns)
    df1.iloc[:, 4] = p
    df1.iloc[:, 5] = r
    df1.iloc[:, 6] = g
    return df1

In [10]:
sorted_country_df.head(5).style.apply(highlight_col,axis=None)

In [4]:
import plotly.express as px

In [5]:
  fig = px.scatter(sorted_country_df.head(10), x="country", y="confirmed", size="confirmed", color="country",
               hover_name="country", size_max=60)

NameError: name 'sorted_country_df' is not defined

In [6]:
  fig.show()

NameError: name 'fig' is not defined

In [7]:
px.bar(
    sorted_country_df.head(10),
    x = "country",
    y = "deaths",
    title= "I love you", # the axis names
    color_discrete_sequence=["pink"], 
    height=500,
    width=800
)

NameError: name 'sorted_country_df' is not defined